body {background-color: rgb(100,100,100);}

h1 {text-align: center;}


.high {
  color: red;
  float: left;
}
.medium {
  color:orange;
  float: center;
}
.low {
  color: yellow;
  float: right;
}

.done {text-decoration: line-through;}

div.ullist {
  background-color: black;
  
}
p {
  padding-top: 50px;
  border-style: groove;
  border-color: purple;
  background-color: blue;
  text-align: center;
  width: 700px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}
